@using QuestHelper.Server.Controllers;
@model IEnumerable<GalleryItemModel>

<!DOCTYPE html>
<html lang="en" prefix="og: http://igosh.pro/index.html">
<head>
    <title>@(@ViewData["RouteName"])</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GoSh! - I go, I share, I live!" />
    <meta property="og:image" content="@(@ViewData["RouteDefaultImgUrl"])" />

    <link rel="shortcut icon" href="http://igosh.pro/images/icon.png">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/lightgallery.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="site-section" data-aos="fade">
            <div class="container-fluid">

                <div class="row justify-content-center">

                    <div class="col-md-7">
                        <div class="row mb-5">
                            <div class="col-12 site-section-heading text-center">
                                <a href="http://goshpro.tilda.ws/" title="GoSh!"><img src="http://igosh.pro/images/icon.png" alt="GoSh!" class="img-fluid"></a>
                                <h2 class="site-section-heading text-center">
                                    @ViewData["RouteName"]
                                </h2>
                                <h5>@ViewData["RouteCreatorName"]</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" id="lightgallery">
                    @foreach (GalleryItemModel item in @Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="../shared/img_@(item.ImgId).jpg" data-sub-html="<h3>@item.PointName</h3><h4>@item.PointDescription</h4>">
                            <a href="#"><img src="../shared/img_@(item.ImgId)_preview.jpg" alt="GoSh!" class="img-fluid"></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="footer py-4">
            <div class="container-fluid text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>



    </div>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/bootstrap-datepicker.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/aos.js"></script>

    <script src="../js/picturefill.min.js"></script>
    <script src="../js/lightgallery-all.min.js"></script>
    <script src="../js/jquery.mousewheel.min.js"></script>

    <script src="../js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
    </script>

</body>
</html>